<div class="container">
  <h1 class="">Vegbox</h1>
    <div class="row">
      <% @extravegs.each do |extra| %>
        <div class="col-3 justify-content-center">
            <div class="card">
            <img src="https://res.cloudinary.com/dtoner522/image/upload/v1620220338/IMG_20200319_140357574-re-e1584663160830_pkop0u.jpg" alt="" class="w-100 pt-3">
            <div class="card-body">
            <h5 class="card-title">Weekly Vegbox</h5>
            <p class="card-text"><%= extra.name %></p>
            <p><%= humanized_money_with_symbol(extra.price) %></p>
            <h5><%= extra.description %></h5>
            <%= link_to "Buy now!", extravegs_path(extra), class: "btn btn-primary d-block w-100" %>
            </div>
        </div>
      <% end %>
  </div>
</div>