<div class="container py-3">
  <h1>This is the show page for</h1>
  <ul>
    <li>Extraveg id:<%= @extraveg.id %></li>
    <li>Category:<%= @extraveg.category %></li>
    <li>Name:<%= @extraveg.name %></li>
    <li>Price:<%= @extraveg.price %></li>
  </ul>
</div>
