.card {
  border-radius: 8px;
}

.card-body {
  color:#302316;
  background-color:#fff1ca;
  border-radius: 8px;
}

// Tablets and under
@media(max-width: 768px){
  a.nav-link {
    font-size: 18px;
  }
  
  .navbar-mt .navbar-brand img {
    width: 120px;
    margin-left: 20px;
  }

  .banner {
    height: 55vh;
  }

  .banner-logo {
    width: 570px;
    height: 570px;
  }

  .cards-benefit, .cards-extraveg {
    flex-direction: column;
  }

  .card-benefit, .card-extraveg {
    width: 100%;
  }

  .card-benefit img {
    width: 100%;
    height: 300px;
  }

  .product, .about {
    flex-direction: column;
    
    img{
      width: 100%;
      height: 400px;
    }
  }

  .product-content, .about-content {
    padding: 20px 40px;
  
    p {
      padding: 20px 0px;
    }
  }

  .btn-fp {
    width: 100%;
    margin: 0%;
  }
}

// Mobile
@media(max-width: 500px){
  .nav-link {
    display: block;
    text-align: center;
  }

  .banner {
    height: 30vh;
  }

  .banner-logo {
    width: 300px;
    height: 300px;
  }

  .cards-benefit {
    margin-top: 20px;
  }

  .card-benefit img {
    width: 100%;
    height: 250px;
  }

  .product-content p {
    padding: 20px 0px 20px 0px;
  }

  .footer {
    display: block;
    padding: 2%;
    text-align: center;
  }

  .footer-links {
    display: block;
  }

  .footer-copyright a {
    font-size: 18px;
  }
}

.confirmation {
  height: 300px;
  width: 300px;
}

.benefit-img {
  object-fit: cover;
  height: 280px;
  width: 100%;
}

@media screen and (min-device-width: 700px) and (max-device-width: 1000px) { 
  .banner-logo {
    margin-top: 100px;
  }
}
