<div class="about" id="about">
  <div class="about-content">
    <h2>About us</h2>
    <p>What we eat and how we buy our food has a huge impact on both the natural world and communities. We want to produce the highest quality produce with as little impact on the planet as possible. We want to build a strong sense of community through food and help make Northern Ireland as resilient and self-sustaining as it can be. Modern lifestyles have created a huge disconnect between the growers and consumers even in comparison to a generation before. We encourage soil health by disturbing it as little as possible, often referred to as ‘NO DIG’.</p>
<ul>
  <li>Seasonality</li>
  <li>Environmental impact</li>
  <li>Connection to grower / food</li>
  <li>Reduced food miles</li>
  <li>Community connections</li>
</ul>
  </div>
  <div class="about-img">
    <%= image_tag "about.jpg"%>
  </div>
</div>