<div class="container">
    <div class="row about">
      <div class="col-lg-6 about-content">
        <h2>About us</h2>
        <p>While we’re both born and bred on this wee island we gained a lot of know-how and most importantly our passion for growing food on an organic farm in the Okanagan Valley on Turtle Island (North America).
        <p>While living there we loved how prolific farmers markets and subscription schemes allowed farmers and consumers to connect directly. By cutting out the middleman, farmers get better prices for their produce and consumers get fresher produce along with an increased awareness of how their food is grown and everyone benefits from reduced food miles. As we all become more aware of our individual and collective impact on the environment, we need to make changes in our lives and what could be better than eating the freshest, most nutrient dense produce straight from the field to your door.</p>
        <p>We think that how and where our food is grown and bought has the power to create connections and resilience. We want to meet the people who eat our produce and share our experience, and to hear back from them too, about what works (or doesn’t) and about any knowledge and ideas they have to share. We also want to understand the environmental impact of how we grow and to encourage biodiversity around the site.  We know we still have so much to learn and are really excited for this journey and the people we will meet along the way!</p>
        <p>Be good, eat great,</p>
        <p>Conor & Roisín</p>
      </div>
    <div class="col-lg-6 about d-flex justify-content-center align-items-baseline">
        <%= image_tag "about.jpg"%>
    </div>
    
  </div>
</div>