<div class="about">
  <div class="about-content">
    <h2>About us</h2>
    <p>What we eat and how we buy our food has a huge impact on both the natural world and communities. We want to produce the highest quality produce with as little impact on the planet as possible. We want to build a strong sense of community through food and help make Northern Ireland as resilient and self-sustaining as it can be.</p>
    <p>Modern lifestyles have created a huge disconnect between the grower and consumer, even in comparison to a generation before. We encourage soil health by disturbing it as little as possible, often referred to as ‘NO DIG’. As such, we follow these guiding principles:</p>
<ul>
  <li>Seasonality</li>
  <li>Reduced environmental impact</li>
  <li>Enhance connection to grower / food</li>
  <li>Reduced food miles</li>
  <li>Enhance community connections</li>
</ul>
  </div>
  <div class="about-img">
    <%= image_tag "about.jpg"%>
  </div>
</div>