<div style="background-image: url('<%= image_path "veg_home_hero.jpg" %>')" class="banner">
  <div class="content">
    <h1>Fresh Picks veg boxes</h1>
    <h2>Direct from our organic farm to your door</h2>
    <%= link_to 'vegboxes' do %>
    <button type="button" class="btn btn-light banner_button">Order now</button>
    <% end %>
  </div>
</div>
