<div style="background-image: url('<%= image_path "box.jpg" %>') ;background-size: cover; height:600px;" class="d-flex align-items-center">
  <div class="content">
    <h1>Fresh picks veg boxes</h1>
    <h2>Direct from our organic farm to your door</h2>
    <button>Order now</button>
  </div>
</div>
