<div class="cards">
  <div class="card">
    <%= image_tag "ecology-2.svg"%>
    <h3>Benefit</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt minus ipsam.</p>
  </div>
  <div class="card">
    <%= image_tag "ecology.svg"%>
    <h3>Benefit</h3>
    <p>Soluta consequatur delectus modi fugit officiis placeat enim commodi rem ea quos.</p>
  </div>
  <div class="card">
    <%= image_tag "world.svg"%>
    <h3>Benefit</h3>
    <p>Atque obcaecati, ex quas nemo error saepe cum est aliquid repellat temporibus</p>
  </div>
</div>