<div class="cards-benefit">
  <div class="card-benefit">
    <%= image_tag "benefit1.jpg", class:"benefit-img"%>
    <h3>What we do</h3>
    <p>We are small scale vegetable growers providing fresh, local and seasonal produce directly to customers in the form of a weekly subscription veg box, running through the summer & autumn seasons.</p>
  </div>
  <div class="card-benefit">
    <%= image_tag "benefit2.jpg", class:"benefit-img"%>
    <h3>How we do it</h3>
    <p>We promote soil health, not just plant health. Taking our lead from organic and regenerative practices. We don’t use chemicals and opt instead for natural methods to add nutrients and deter pests.</p>
  </div>
  <div class="card-benefit">
    <%= image_tag "benefit3.jpg", class:"benefit-img"%>
    <h3>Why we do it</h3>
    <p>There are so many reasons! But to put it simply, local, seasonal food is a necessity for both a healthy planet and a healthy society. And we really enjoy this work!</p>
  </div>
</div>