<div class="cards">
  <div class="card">
    <%= image_tag "benefit4.jpg"%>
    <h3>What we do</h3>
    <p>We are small scale vegetable growers providing fresh, local and seasonal produce direct to customers in the form of a subscription Veg box, running through the summer - autumn seasons. </p>
  </div>
  <div class="card">
    <%= image_tag "benefit2.jpg"%>
    <h3>How we do it</h3>
    <p>We follow organic practices, avoiding the use of chemicals, pesticides, herbicides, or any other practices that can damage the quality of produce, not to mention damage our native ecosystems. We incorporate practices to strengthen biodiversity and enrich the soil to give the most nutrient packed veg.</p>
  </div>
  <div class="card">
    <%= image_tag "benefit3.jpg"%>
    <h3>Why we do it</h3>
    <p>Sure, what else would you be at……. <br>
    We want to build a strong since of community through food and help make Northern Ireland as resilient, and self-sufficient as it can be.</p>
  </div>
</div>