<div class="blog">
  <div class="blog-content">
    <h2>Follow us!</h2>
    <p>Follow us on Instagram for the latest news, recipies and ideas of what to do with your veggies!</p>
    <h3>@fresh.picks</h3>
  </div>
  <div class="instagram">
    <div id="curator-feed-default-feed-layout">
    </div>
    <div id="curator-feed">
      <a href="https://curator.io" target="_blank" class="crt-logo">Powered by Curator.io</a>
</div>
  </div>
</div>