<div class="text-center">
  <h2>Follow us!</h2>
  <h3>Follow us on Instagram for the latest news, recipies and ideas of what to do with your veggies!</h3>
  <h3>@fresh.picks</h3>
  <%= image_tag 'instagram.png', style: 'width: 100%' %>
</div>