<div class="extraveg">
  <div class="extraveg-content">
    <h2>One-Offs</h2>
    <p>If you just fancy a one-off Veg Box then look no further!</p>
  
  </div>


<div class="extraveg-mini cards-extraveg">
    <% @extravegs.each do |extraveg| %>

      <% if extraveg.quantity > 0%>
        
            <div class="card-extraveg">
              <h4><%= extraveg.name %></h4>
              <p><%= extraveg.description %></p>
              <p>£<%= extraveg.price %></p>
              <% if extraveg.category == "A" %>
                <button
                class="btn btn-primary"
                id="checkout-button-price_1J0YdvKujJTvt3poyH2YopE6"
                role="link"
                type="button"
                >
                 Order now
                </button>
              <% elsif extraveg.category == "B" %>
                <button
                class="btn btn-primary"
                id="checkout-button-price_1J0Yd1KujJTvt3poqiAwtWak"
                role="link"
                type="button"
                >
                  Order now
                </button>
              <% elsif extraveg.category == "C"%>
                <button
                class="btn btn-primary"
                id="checkout-button-price_1J0YbQKujJTvt3poncTsFJ1O"
                role="link"
                type="button"
                >
                  Order now
                </button>
              <% elsif extraveg.category == "D"%>
                <button
                class="btn btn-primary"
                id="checkout-button-price_1J0YFSKujJTvt3pobnH5naN6"
                role="link"
                type="button"
                >
                  Order now
                </button>
              <% end %>
            </div> 

      <% end %>
      
    <% end %>
  </div>

</div>
<script src="https://js.stripe.com/v3"></script>