<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/_fresh_picks_/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/Fresh-Picks-103278615294344/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="mailto:freshpicksni@gmail.com"><i class="far fa-envelope" target="_blank"></i></a>
    <a href="tel: +447514997085"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="footer-copyright">
  <%= link_to "C. DDD Studio", "http://www.discoverydesigndev.club", class: "footer-copyright" %>
  </div>
</div>