<div class="product" id="product">
  <%= image_tag "product.jpg"%>
  <div class="product-content">
    <h2>What's in the box?</h2>
    <p>You box will be delivered weekly and include the freshest organic vegetables direct
    from our farm to your door. We grow in small scale and seasonally. Your box will be harvested and delivered on the same day.
    </P>
    <p>Each box includes:
      <ul>
        <li>8-12 assorted items of vegetables, herbs and salad leaves</li>
        <li>Approximate weight of each box is XXXXX</li>
        <li>Enough items to produce at least three hearty all veg meals or the equivalent veg accompanyment to other meals</li>
        <li>Frequent veg includes; carrots, beetroot, salad, spinach, tomatoes, cucumbers, rainbow chard, radishes, peas, beans, baby turnips, kale, Asian greens, courgettes, spring onions, leeks, herbs</li>
        <li>Occasional veg; fennel, kohl rabi, garlic, peppers, celery, potatoes</li>
        <li>Please note; potatoes and cooking onions will appear in some boxes but will not be staples.</li>
      </ul>
    </p>
    <%= link_to "Order now", "vegboxes", class: "btn btn-fp" %>
  </div>
</div>