<div class="product" id="product">
  <%= image_tag "product.jpg"%>
  <div class="product-content">
    <h2>What's in the box?</h2>
    <p>You box will be delivered weekly and include the freshest organic vegetables direct
    from our farm to your door.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
    pretium turpis in volutpat dignissim. Nullam eu arcu a odio semper pharetra. Donec mattis
    tortor varius mauris eleifend consectetur. Quisque sodales tellus id sollicitudin laoreet.
    Suspendisse potenti. Morbi consequat facilisis mauris, vitae pellentesque nulla rutrum ac.
    Sed lacinia libero sit amet fringilla lacinia. Proin velit nunc, condimentum et tempor eleifend,
    porttitor non urna. Vivamus nec tellus risus.
    </p>
    <%= link_to "Order now", "vegboxes", class: "btn btn-fp" %>
  </div>
</div>