<div class="product">
  <div class="product-img">
    <%= image_tag "product.jpg"%>
  </div>
  <div class="product-content">
    <h2>What's in the box?</h2>
    <p>You can opt for a weekly or bi Weekly box that will be full of a wide range of veg, herbs, and leaves. Each week will have a variation depending on what’s in season. Staples such as onion, carrot and tomatoes will make a regular appearance.</p>
    Each box includes:
      <ul>
        <li>8-12 assorted items of vegetables, herbs and salad leaves</li>
        <li>Enough items to produce at least three hearty all veg meals or the equivalent veg accompanyment to other meals</li>
        <li>Please note; potatoes and cooking onions will appear in some boxes but will not be staples.</li>
      </ul>
    <%= link_to "Order now", "vegboxes", class: "btn btn-fp" %>
  </div>
</div>