<div class="product" id="product">
  <div class="product-img">
    <%= image_tag "product.jpg"%>
  </div>
  <div class="product-content">
    <h2>What's in the box?</h2>
    <p>The box will be full of a wide range of veg, herbs, and leaves. Each week will have variation depending on what’s in season. Staples such as onions, carrots and tomatoes will make regular appearances and there will be the occasional interesting/unique variety so you can feel all fancy and exotic, while keeping it local and sustainable.
    <br>
    Every item in the box will be picked fresh, ensuring the most nutrient rich produce at the peak of its flavour. So no rock-hard tomatoes, no sad looking leaves staring at you through a plastic bag. In fact, no plastic bags at all!
    </p>
    <%= link_to "Order now", "vegboxes", class: "btn btn-fp" %>
  </div>
</div>
