<div class="product" id="product">
  <div class="product-img">
    <%= image_tag "product.jpg"%>
  </div>
  <div class="product-content">
    <h2>What's in the box?</h2>
    <p>Your box will be delivered packed full of a range of veggies, herbs and salad leaves. The box will change each week depending on what's in season at the time. Staples such as onions, carrot and tomatoes will make regular appearances along with other more fancy and exotic options. All while keeping everything local and sustainable. 
    </p>
    <p>Every item is picked on the same day that you will recieve your box to ensure you receive the freshest, most flavourful and nutrient-rich produce. No rock-hard tomatoes, no sad-looking leaves staring at you through a plastic bag. In fact, no plastic bags at all!
    </p>
    <%= link_to "Order now", "vegboxes", class: "btn btn-fp" %>
  </div>
</div>

<div class="product">

  <div class="product-content">
    <h2>Extra Veggies</h2>
    <p>Every week you can find our excess veggies here for one off-purchases! This week's veggies:</P>
  </div>
    <%= image_tag "product.jpg"%>
</div>