<div class="container">
  <h1>Weekly vegbox delivery</h1>

  <div class="d-flex">
    <% @vegboxes.each do |box| %>
      
      <div>
      
        <img src="https://res.cloudinary.com/dtoner522/image/upload/v1620220338/IMG_20200319_140357574-re-e1584663160830_pkop0u.jpg" alt="" class="w-100 pt-3">
        
        <!-- !box.status to display waitlist form -->
        <% if box.status %>

            <h5 class="mt-3">Veg Box (delivery) - £15.50 per week</h5>
            <button
              class="btn btn-primary d-block w-100 mb-3 mb-2"
              id="checkout-button-price_1J0YA7KujJTvt3pozUcXgepe"
              role="link"
              type="button"
            >
              Order
            </button>

            <h5>Veg Box (delivery) - £62.00 per month</h5>
            <button
              class="btn btn-primary d-block w-100 mb-3"
              id="checkout-button-price_1J0YA7KujJTvt3polSeyiWIB"
              role="link"
              type="button"
            >
              Order
            </button>

            <h5>Veg Box (collection) - £13.00 per week</h5>
            <button
              class="btn btn-primary d-block w-100 mb-3"
              id="checkout-button-price_1J04cMKujJTvt3poqeRrQd2q"
              role="link"
              type="button"
            >
              Order
            </button>

            <h5>Veg Box (collection) - £52.00 per month</h5>
            <button
              class="btn btn-primary d-block w-100 mb-3 hide"
              id="checkout-button-price_1J04cNKujJTvt3poPvnsPLCT"
              role="link"
              type="button"
            >
              Order
            </button>
        <% else %>
         <p>Unfortunately, we've reached capacity for this season :(</p>
         <p>But please input your details below and you'll be the first in line next season!</p>
          <%= render partial: 'customers/new', locals: { box: box } %>
        <% end %>

      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-5">Weekly Vegbox - What is in a box?</h5>
            <p>Each week there will be 8-12 items in the box. The smaller boxes are likely to be towards the start of the season as many plants are still getting established. 
            <br>
            <p>Every week there will be salad leaves or a head of lettuce.</p>
            <br>
            <p>Regular items will include carrots, scallions or onions, beetroot, courgettes, cucumbers, peas or beans, tomatoes, fresh herbs and cooking greens such as chard, spinach and kale.</p>
            <br>
            <p>Other veg will make less regular appearances, these are the veg that grow more slowly or only grow at certain times of the year. These include parsnips, leeks, swedes, cauliflower, sweet corn, broccoli, cabbage and winter squashes.</p>
            <br>
            <p>We have also planted some heat loving plants like peppers and aubergines and some more unusual veg like achocha so as long as the sun holds up it’s end of the bargain they should make an appearance too.</p>
          </div>
        </div>
      </div>
      
    <% end %>
  </div>

  <div id="error-message"></div>
  <%# need to move this somewhere %>
  <script src="https://js.stripe.com/v3"></script>

<%# weekly payment +delivery %>
  <script>
    (function() {
  var stripe = Stripe('pk_live_51IpzLsKujJTvt3poaj4996zEpJN1LZZgQuZ82qDsXasmEL0qQ2KgbATiC75B6oxXAxbjsW2WDaV3ngaOtdaFbyME00pd7gfRnx');

  var checkoutButton = document.getElementById('checkout-button-price_1J0YA7KujJTvt3pozUcXgepe');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1J0YA7KujJTvt3pozUcXgepe', quantity: 1}],
      mode: 'subscription',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://fresh-picks.herokuapp.com/successful',
      cancelUrl: 'https://fresh-picks.herokuapp.com/failed',
      shippingAddressCollection: {
        allowedCountries: ['GB'],
      }
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<%# monthly payment + delivery %>
<script>
(function() {
  var stripe = Stripe('pk_live_51IpzLsKujJTvt3poaj4996zEpJN1LZZgQuZ82qDsXasmEL0qQ2KgbATiC75B6oxXAxbjsW2WDaV3ngaOtdaFbyME00pd7gfRnx');

  var checkoutButton = document.getElementById('checkout-button-price_1J0YA7KujJTvt3polSeyiWIB');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1J0YA7KujJTvt3polSeyiWIB', quantity: 1}],
      mode: 'subscription',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://fresh-picks.herokuapp.com/successful',
      cancelUrl: 'https://fresh-picks.herokuapp.com/failed',
      shippingAddressCollection: {
        allowedCountries: ['GB'],
      }
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<%# weekly payment %>
<script>
(function() {
  var stripe = Stripe('pk_live_51IpzLsKujJTvt3poaj4996zEpJN1LZZgQuZ82qDsXasmEL0qQ2KgbATiC75B6oxXAxbjsW2WDaV3ngaOtdaFbyME00pd7gfRnx');

  var checkoutButton = document.getElementById('checkout-button-price_1J04cMKujJTvt3poqeRrQd2q');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1J04cMKujJTvt3poqeRrQd2q', quantity: 1}],
      mode: 'subscription',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://fresh-picks.herokuapp.com/successful',
      cancelUrl: 'https://fresh-picks.herokuapp.com/failed',
      shippingAddressCollection: {
        allowedCountries: ['GB'],
      }
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

<%# Monthly Payment %>
<script>
(function() {
  var stripe = Stripe('pk_live_51IpzLsKujJTvt3poaj4996zEpJN1LZZgQuZ82qDsXasmEL0qQ2KgbATiC75B6oxXAxbjsW2WDaV3ngaOtdaFbyME00pd7gfRnx');

  var checkoutButton = document.getElementById('checkout-button-price_1J04cNKujJTvt3poPvnsPLCT');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1J04cNKujJTvt3poPvnsPLCT', quantity: 1}],
      mode: 'subscription',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://fresh-picks.herokuapp.com/successful',
      cancelUrl: 'https://fresh-picks.herokuapp.com/failed',
      shippingAddressCollection: {
        allowedCountries: ['GB'],
      }
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
</div>