<div class="container position-relative">
  <div class="extraveg d-flex justify-content-center align-items-center">
      <h2 class="text-center">You've been added to the waitlist! We'll be in touch as soon as possible :)</h2>
      <%= image_tag "FreshPicks_Logo_Colour.png", class:"confirmation" %>
    </div>
</div>
