<div class="container">    
  <h2 class="mt-4">Waiting list</h2>
    <% @waitlists.each do |waitlist| %>
      <p># <%= waitlist.id %> | <strong>Name:</strong> <%= waitlist.name.titleize %> | <strong>Email:</strong> <a href="mailto:<%= waitlist.email %>"><%= waitlist.email %></a></p>
    <% end %>
</div>