<div class="container">
  <h1>Orders</h1>
    <p>#<%= @orders.last.id %> / <%= @orders.last.name%> / €<%=@orders.last.amount_cents / 100%></p>
    <!-- <p><%= @orders.last.user.email %></p> -->
  <h2>Customers</h2>
  <h2>Waiting list</h2>
</div>