<div class="container">
  <h2>Order some extra veggies!</h2>
  <h3>This week's extra veggies are: <%= @evtitle.name %></h3>  
  
  <div class="ev-cards">
    <div class="ev-card">
      <h3>Large veg box - £6.00</h3>
      <p></p>
    </div>
  </div>

</div>