<div class="container position-relative">
  <div class="extraveg d-flex justify-content-center align-items-center">
      <%= render 'customers/new' %>
      <%= image_tag "FreshPicks_Logo_Colour.png", class:"confirmation" %>
    </div>
</div>