<div class="container">
  <h1>Select your extra veggies!</h1>

<%# £7.00 EXTRA VEGGIES %>
<div class="product-card" id="largeBox">
  <%= image_tag "product.jpg"%>
  <h2>Large box of extra veggies</h2>
  <p>Details about your vegbox.... Cost £240, what's included etc etc...</p>
  <p>This info should be in a card</p>
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1Ism9jDXs3V4V0mMElPC6CSD"
  role="link"
  type="button"
>
  LARGE BOX £7.00
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

  var checkoutButton = document.getElementById('checkout-button-price_1Ism9jDXs3V4V0mMElPC6CSD');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1Ism9jDXs3V4V0mMElPC6CSD', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: window.location.protocol + '//poppyjennings.com/success',
      cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
</div>

<%# £5.00 EXTRA VEGGIES %>
<div class="product-card" id="mediumBox">
  <%= image_tag "product.jpg"%>
  <h2>Medium box of extra veggies</h2>
  <p>Details about your vegbox.... Cost £240, what's included etc etc...</p>
  <p>This info should be in a card</p>
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1Ism9jDXs3V4V0mM7Jrv0f68"
  role="link"
  type="button"
>
  MEDIUM BOX £5.00
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

  var checkoutButton = document.getElementById('checkout-button-price_1Ism9jDXs3V4V0mM7Jrv0f68');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1Ism9jDXs3V4V0mM7Jrv0f68', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: window.location.protocol + '//poppyjennings.com/success',
      cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
</div>

<%# £3.00 EXTRA VEGGIES %>
<div class="product-card" id="smallBox">
  <%= image_tag "product.jpg"%>
  <h2>Small box of extra veggies</h2>
  <p>Details about your vegbox.... Cost £240, what's included etc etc...</p>
  <p>This info should be in a card</p>
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-price_1IjPJ4DXs3V4V0mMAJAa1zu3"
  role="link"
  type="button"
>
  SMALL BOX £3.00
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51IjPBODXs3V4V0mMJsDZyfaP72eTACV98NxH7hZmBlmhVriyy6q9NJm7ZcidaDiFbEOh5iqD1F3IGFuEtLRin50B00WQOT2Uzd');

  var checkoutButton = document.getElementById('checkout-button-price_1IjPJ4DXs3V4V0mMAJAa1zu3');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1IjPJ4DXs3V4V0mMAJAa1zu3', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: window.location.protocol + '//poppyjennings.com/success',
      cancelUrl: window.location.protocol + '//poppyjennings.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
</div>

</div>
