<div class="container position-relative">
  <div class="extraveg d-flex justify-content-center align-items-center">
    <h2 class="text-center">Hmmm, something went wrong!</h2>
    <%= image_tag "FreshPicks_Logo_Colour.png", class:"confirmation" %>
    <h3 class="d-flex d-block"><%= link_to 'Go back', root_path %></h1>
    </div>
</div>
