<div class="container position-relative">
  <div class="extraveg justify-content-center align-items-center">
      <h2 class="text-center">Your purchase was successful! Don't forget to add your phone number below so we can get in touch regarding delivery/collection  :)</h2>
      <div class="d-flex justify-content-around align-items-center py-4">
        <%= render 'customers/new' %>
        <%= image_tag "FreshPicks_Logo_Colour.png", class:"confirmation" %>
      </div>
    </div>
</div>
