.about {
  display: flex;
  animation: slideInFromRight 1s ease-in;
  background-color: $cream;
  color: $brown;
  margin-top: 80px;
  border-radius: 8px;

  img {
    width: 30vw;
    padding: 20px;
  }
}

.about-content {
  padding: 20px;

  p {
    padding: 20px 20px 20px 0px;
  }
}

// Animations

@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(0);
  }
}