.banner {
  // background-image: url("app/assets/images/veg_home_hero.jpg");
  background-color: $brown;
  background-size: cover; 
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-left: 4%;
  padding-top: 4%;
  position: relative;

  h1 {
    font-size: 75px;
    color: $cream;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    color: $cream;
    font-weight: 400;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
  }
}