.banner {
  background-color: $brown;
  background-size: cover;
  background-position-y: center;
  height: 70vh;
  padding: 20px;
  border: 20px solid $cream;
  margin: 20px;
  display: flex;
  justify-content: center;
  
  // h1 {
  //   font-size: 75px;
  //   color: $cream;
  //   font-weight: 700;
  // }

  // h2 {
  //   font-size: 40px;
  //   color: $cream;
  //   font-weight: 400;
  //   text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
  // }
}

.banner-logo {
  width: 750px;
  height: 750px;
  align-self: center;
  z-index: 5;
}

