.cards {
  display: flex;
  // flex-direction: row;
  padding-top: 80px;
  // align-content: space-evenly;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $cream;
  border: none;
  align-items: center;
  width: 30%;
  color: $brown;

  img {
    width: 100%;
    height:200px;
    padding: 20px;
  }

  h3 {
    margin-top: 15px;
  }

  p {
    padding: 20px;
  }
}
