.cards-benefit {
  margin-top: 80px;
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

.card-benefit {
  display: flex;
  flex-direction: column;
  background-color: $cream;
  border: none;
  align-items: center;
  width: 30%;
  color: $brown;
  border-radius: 8px;
  margin-bottom: 20px;

  img {
    object-fit: contain;
    height: 300px;
    width: 100%;
    padding-top: 20px;
  }

  h3 {
    margin-top: 15px;
  }

  p {
    padding: 20px 30px 20px 30px;
  }
}
