.crt-grid-post .crt-post-header {
  display: none;
}

.crt-widget .crt-grid-post .crt-post-hover {
  padding-top: 40px;
}

.crt-widget .crt-grid-post .crt-post-footer{
  display: none;
}

.crt-widget-grid.crt-grid-col4 .crt-grid-post {
  width: 33%;
}

.blog-content {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: $brown;
  background-color: $cream;
  margin-top: 80px;
}

.instagram {
  padding: 20px;
  background-color: $cream;
}