.crt-grid-post .crt-post-header {
  display: none;
}

.crt-widget .crt-grid-post .crt-post-hover {
  padding-top: 40px;
}

.crt-widget .crt-grid-post .crt-post-footer{
  display: none;
}

#color {
  color: white;
}