.extraveg {
  background-color: $cream;
  color: $brown;
  margin-top: 80px;
  padding: 20px;
  border-radius: 8px;
}

.extraveg-mini {
  background-color: $cream;
  color: $brown;
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.extraveg-content {
  text-align: center;
}

.cards-extraveg {
  display: flex;
  justify-content: space-evenly;
}

.card-extraveg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  padding-bottom: 20px;
  border: 10px solid $brown;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin: 5px;
}
