.extraveg {
  padding: 20px;
}

.cards-extraveg {
  display: flex;
  justify-content: space-between;
}

.card-extraveg {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  width: 30%;
  padding-bottom: 20px;
}


.extraveg {
  background-color: $cream;
  color: $brown;
  margin-top: 80px;
  padding-bottom: 20px;
}

.extraveg-content{
  p {
    padding-top: 20px;
  }
}

