.navbar-mt {
  justify-content: space-between;
  z-index: 10;
  
  .navbar-brand, .dropdown-item {
    color: $brown;
    padding: 0px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $cream;
}

.navbar-mt .navbar-collapse {
  flex-grow: 0;
}

.navbar-mt .navbar-brand img {
  width: 160px;
  padding: 0px;
}

.nav-link {
  display: inline;
  text-align: center;
  color: $cream;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $cream !important;
}

a.nav-link {
  font-size: 24px;
  color: $cream;
  
  &:hover {
    font-weight: 700;
  }
}
