.navbar-mt {
  justify-content: space-between;
  background-color: $cream;
  .navbar-brand, .dropdown-item {
    color: $mango-black;
  }
}

.navbar-mt .navbar-collapse {
  flex-grow: 0;
}

.navbar-mt .navbar-brand img {
  width: 70px;
}

.nav-link {
  display: inline;
  text-align: center;
}

a.nav-link {
  font-size: 24px;
}