.product {
  display: flex;
  animation: slideInFromLeft 1s ease-in;
  background-color: $cream;
  color: $brown;
  margin-top: 80px;
}

img {
  width: 30vw;
  padding: 20px;
}

.product-content{
  padding: 20px;

  p {
    padding-top: 20px;
  }
}

// Animations

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }

  100% {
      transform: translateX(0);
  }
}