.product {
  display: flex;
  padding-top: 6%;
  animation: slideInFromLeft 1s ease-in;
}

img {
  width: 30vw;
}

.product-content{
  padding-left: 6%;

  p {
    margin-top: 15px;
  }
}

// Animations

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }

  100% {
      transform: translateX(0);
  }
}